<h1>User index</h1>

<% @users.each do |user| %>
    <p><%= image_tag user.get_profile_image %></p>
    <p>name：<%= user.name %></p>
    <p><%= link_to "show", user_path(user) %></p>
<% end %>

<!--投稿フォーム-->
<%= render 'books/list', book: @book %>